<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tupperware{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
          <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfoundation/css/foundation.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.1/css/bootstrap-datepicker.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('bundles/bmatznerfoundation/js/foundation.min.js') }}"></script>
    </head>
    <body>
       <div id="sidebar">
            {% block sidebar %}
                <nav class="top-bar" data-topbar role="navigation">
                  <ul class="title-area">
                    <li class="name">
                      <h1><a href="{{ path('product_index') }}">Tupperware</a></h1>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                  </ul>

                  <section class="top-bar-section">
                    <ul class="right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="has-dropdown not-click">
                                <a href="#">{{ app.user.username }}</a>
                                <ul class="dropdown">
                                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                        {% endif %}

                    </ul>

                    <ul class="left">
                      <li><a href="{{ path('product_index') }}">Produkty</a></li>
                    </ul>
                  </section>
                </nav>
            {% endblock %}
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
