{% extends 'base.html.twig' %}

{% block body %}



<table id="products" class="display">
    <thead>
        <tr>
            <th width="30%">Nazwa</th>
            <th width="20%">Cena</th>
            <th width="10%">Dostępny</th>
            <th width="10%">Ilość</th>
            <th width="25%">Zdjęcie</th>
            <th width="5%">Edytuj</th>
        </tr>
    </thead>
    <tbody>
    	{% for item in products %}
        <tr>
            <td><a href="{{ path('product_show', { 'id': item.id }) }}">{{ item.name }}</a></td>
            <td>{{ item.price }}</td>
            <td>{{ item.avaliable }}</td>
            <td>{{ item.quantity }}</td>
            <td><img style="height: 120px;" src="{{ item.photo }}"/></td>
            <td><a href="{{ path('product_edit', { 'id': item.id }) }}"><i class="fa fa-pencil-square-o"></i></a></td>
        </tr>
		{% endfor %}
    </tbody>
</table>
<a class="button small" href="{{ path('product_new') }}">Dodaj</a>

<script type="text/javascript">
$(document).ready(function(){
    $('#products').DataTable();
});
</script>
{% endblock %}
