{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin-left:30px">
        <h1>Szczegóły produktu</h1>

        <table style="width:400px;">
            <tbody>
                <tr>
                    <th>Nazwa</th>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <th>Ilość Wrocław</th>
                    <td>{{ product.quantityWroclaw }}</td>
                </tr>
                <tr>
                    <th>Ilość Szczecinek</th>
                    <td>{{ product.quantitySzczecinek }}</td>
                </tr>
                <tr>
                    <th>Cena katalogowa</th>
                    <td>{{ product.baseprice }}</td>
                </tr>
                <tr>
                    <th>Cena</th>
                    <td>{{ product.price }}</td>
                </tr>
                <tr>
                    <th>Opis</th>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <th>Dostępny</th>
                    <td>{% if product.avaliable %}Tak{% else %}Nie{% endif %}</td>
                </tr>
                <tr>
                    <th>Dostępny od</th>
                    <td>{% if product.avaliablefrom %}{{ product.avaliablefrom|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Dostępny do</th>
                    <td>{% if product.avaliableuntil %}{{ product.avaliableuntil|date('Y-m-d') }}{% endif %}</td>
                </tr>
{#                 <tr>
                    <th>Zdjęcie</th>
                    <td>{{ product.photo }}</td>
                </tr> #}
                <tr>
                    <th>Link zewnętrzny</th>
                    <td>{{ product.externalurl }}</td>
                </tr>
            </tbody>
        </table>
        <a class="button small" href="{{ path('product_edit', { 'id': product.id }) }}">Edytuj</a><br>
        <a class="button tiny" href="{{ path('product_index') }}">Powrót</a>
    </div>
{% endblock %}
